body {
	background: #999999;
	font-family: sans-serif;
}

div#header {
	width: 780px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	padding: 0px;
	margin: 0px;
}

.hide { display: none; }
div.slide.hide { display: none !important; }

div.noscript { background-color: #ffdddd; }

div#slides {
	background: #ffffff;
	overflow: hidden;
	width: 780px;
	height: 480px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

div.slide_container {
	width: 10000px;
}

div.slide {
	display: inline-block;
	position: relative;
	width: 760px;
	height: 460px;
	padding: 10px;
	float: left;
}

div.buttons {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

div.help_content {
	float: right;
	width: 0px;
	overflow: auto;
	height: 426px;
	border-left: 2px solid #CCC;
	padding: 8px;
	margin-left: 8px;
}

.alert {
	display: none;
	background: #ffcccc;
}

ul {
    list-style-type: none;
}
