{{%UNESCAPED}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Bug Filing Form</title>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div id="header">
			<h1 style="float: left;">File a Bug for LibreOffice</h1>
			<a style="float: right;" href="http://webchat.freenode.net/?channels=libreoffice" target="_blank">
				LibreOffice chatroom
			</a>
		</div>
		
		<div id="slides"> 
			<div class="slide_container"> 
			{{#slides}}
				<div class="slide" id="slide_{{id}}">
					<h2>{{title}}</h2>
					{{content}}
					<div class="buttons">
					{{#buttons}}
						{{#previous}}
							<button type="button" onclick="javascript:scrollBack()">Previous</button>
						{{/previous}}
						
						{{#next}}
							<button type="button" onclick="javascript:{{next}}">Next</button>
						{{/next}}
						
						{{#submit}}
							<button type="button" onclick="javascript:{{submit}}">Submit</button>
						{{/submit}}
					{{/buttons}}
					</div>
				</div>
			{{/slides}}
			</div> 
		</div>
		
		<!-- HELP CONTENT -->
		<div class="hide" id="help">
		{{#help}}
			<div class="help_content" id="help_{{id}}">
				<h3>{{title}}</h3>
				{{content}}
			</div>
		{{/help}}
		</div>
		
		<!-- Scripts at the bottom, for performance -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.scrollTo-min.js"></script> 
        <script type="text/javascript" src="js/bugsubmit.js"></script>
		<script type="text/javascript"> 
          /* <![CDATA[ */
			$(function() {
				$("iframe#search_frame").load(function() {
					//Flip to search results div
					$("img#search_loading_image").css({display: "none"});
					$("div#search_after_div").slideDown("slow");
					$("div#search_before_div").slideUp("slow");
				});
			});
			
			/**
			 * If user hasn't entered a search term, displays a message
			 * and returns false.
			 */
			function checkSearchForm(form) {
				if (form.content.value == "") {
					$("span#search_alert").fadeIn();
					return false;
				} else {
					$("span#search_alert").fadeOut();
					$("img#search_loading_image").css({display: "inline"});
					return true;
				}
			}

			/**
			 * Hides the Search div
			 */
			function hideSearchDiv() {
				$("div#search_after_div").slideUp("slow");
				$("div#search_before_div").slideDown("slow");
			}
		  /* ]]> */
		</script>
	</body>
</html>
